body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    display: flex;
    justify-content: center;
    background-color: #C8C8C8;
}

main {
    background-color: rgba(144,144,144,0.2);
    height: 100hv;
    width: 75em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

h1 {
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: larger;
    margin-top: 2rem;
}
.imagen {
    margin-top: 1px;
}
p {
    margin: 1rem;
    letter-spacing: 1.5px;
    text-align: justify;
    font-weight: lighter;
}

.parrafo-2 {
    margin-top: 1rem;
}

.parrafo-3 {
     margin-top: 1rem;
}

.parrafo-3 {
    margin-top: 1rem;
}